openapi: 3.2.0
info:
  title: Windmill Resources API
  description: Windmill is an open-source developer platform that turns scripts into internal tools, UIs, workflows, and cron jobs, executed by a distributed worker fleet.
  version: 1.745.0
  contact:
    name: Windmill
    url: https://www.windmill.dev
  license:
    name: AGPL-3.0 (community) / Windmill Enterprise License
    url: https://github.com/windmill-labs/windmill/blob/main/LICENSE
servers:
- url: https://app.windmill.dev/api
  description: Windmill Cloud
- url: http://localhost:8000/api
  description: Local development (self-hosted)
security:
- bearerAuth: []
- cookieAuth: []
tags:
- name: Resources
  description: Typed connection objects and resource types.
paths:
  /w/{workspace}/resources/list:
    parameters:
    - $ref: '#/components/parameters/Workspace'
    get:
      operationId: listResources
      tags:
      - Resources
      summary: List resources
      description: Lists typed resource objects in a workspace.
      responses:
        '200':
          description: A list of resources.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /w/{workspace}/resources/create:
    parameters:
    - $ref: '#/components/parameters/Workspace'
    post:
      operationId: createResource
      tags:
      - Resources
      summary: Create a resource
      description: Creates a typed resource object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: Created resource path.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /w/{workspace}/resources/type/list:
    parameters:
    - $ref: '#/components/parameters/Workspace'
    get:
      operationId: listResourceTypes
      tags:
      - Resources
      summary: List resource types
      description: Lists the resource types (schemas) available in a workspace.
      responses:
        '200':
          description: A list of resource types.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid Bearer token or session cookie.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            name:
              type: string
            message:
              type: string
    Resource:
      type: object
      required:
      - path
      - resource_type
      properties:
        path:
          type: string
        resource_type:
          type: string
        description:
          type: string
        value:
          type: object
          additionalProperties: true
  parameters:
    Workspace:
      name: workspace
      in: path
      required: true
      description: The workspace id (tenant) the resource belongs to.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token created in the Windmill UI under account settings, passed as Authorization: Bearer YOUR_TOKEN.'
    cookieAuth:
      type: apiKey
      in: cookie
      name: token
      description: Session cookie set by the Windmill web UI after login.
