openapi: 3.2.0
info:
  title: Windmill Workers API
  description: Windmill is an open-source developer platform that turns scripts into internal tools, UIs, workflows, and cron jobs, executed by a distributed worker fleet.
  version: 1.745.0
  contact:
    name: Windmill
    url: https://www.windmill.dev
  license:
    name: AGPL-3.0 (community) / Windmill Enterprise License
    url: https://github.com/windmill-labs/windmill/blob/main/LICENSE
servers:
- url: https://app.windmill.dev/api
  description: Windmill Cloud
- url: http://localhost:8000/api
  description: Local development (self-hosted)
security:
- bearerAuth: []
- cookieAuth: []
tags:
- name: Workers
  description: The distributed worker fleet executing jobs.
paths:
  /workers/list:
    get:
      operationId: listWorkers
      tags:
      - Workers
      summary: List workers
      description: Lists active workers in the fleet with their worker group and tags.
      responses:
        '200':
          description: A list of workers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Worker'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /w/{workspace}/queue/count:
    parameters:
    - $ref: '#/components/parameters/Workspace'
    get:
      operationId: getQueueCount
      tags:
      - Workers
      summary: Get queue count
      description: Returns the count of jobs currently queued in a workspace.
      responses:
        '200':
          description: Queue counts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  database_length:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    Workspace:
      name: workspace
      in: path
      required: true
      description: The workspace id (tenant) the resource belongs to.
      schema:
        type: string
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            name:
              type: string
            message:
              type: string
    Worker:
      type: object
      properties:
        worker:
          type: string
        worker_instance:
          type: string
        worker_group:
          type: string
        last_ping:
          type: integer
        jobs_executed:
          type: integer
        custom_tags:
          type: array
          items:
            type: string
  responses:
    Unauthorized:
      description: Missing or invalid Bearer token or session cookie.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token created in the Windmill UI under account settings, passed as Authorization: Bearer YOUR_TOKEN.'
    cookieAuth:
      type: apiKey
      in: cookie
      name: token
      description: Session cookie set by the Windmill web UI after login.
