openapi: 3.2.0
info:
  title: Windmill Workspaces API
  description: Windmill is an open-source developer platform that turns scripts into internal tools, UIs, workflows, and cron jobs, executed by a distributed worker fleet.
  version: 1.745.0
  contact:
    name: Windmill
    url: https://www.windmill.dev
  license:
    name: AGPL-3.0 (community) / Windmill Enterprise License
    url: https://github.com/windmill-labs/windmill/blob/main/LICENSE
servers:
- url: https://app.windmill.dev/api
  description: Windmill Cloud
- url: http://localhost:8000/api
  description: Local development (self-hosted)
security:
- bearerAuth: []
- cookieAuth: []
tags:
- name: Workspaces
  description: Isolated tenants and their settings.
paths:
  /version:
    get:
      operationId: getVersion
      tags:
      - Workspaces
      summary: Get backend version
      description: Returns the running Windmill backend version.
      security: []
      responses:
        '200':
          description: Version string.
          content:
            application/json:
              schema:
                type: string
  /workspaces/list:
    get:
      operationId: listWorkspaces
      tags:
      - Workspaces
      summary: List workspaces
      description: Lists workspaces visible to the authenticated user.
      responses:
        '200':
          description: A list of workspaces.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /workspaces/create:
    post:
      operationId: createWorkspace
      tags:
      - Workspaces
      summary: Create a workspace
      description: Creates a new workspace (tenant).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
      responses:
        '201':
          description: Created workspace id.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /w/{workspace}/workspaces/get_settings:
    parameters:
    - $ref: '#/components/parameters/Workspace'
    get:
      operationId: getWorkspaceSettings
      tags:
      - Workspaces
      summary: Get workspace settings
      description: Retrieves settings for a workspace (admin only).
      responses:
        '200':
          description: Workspace settings.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    Workspace:
      name: workspace
      in: path
      required: true
      description: The workspace id (tenant) the resource belongs to.
      schema:
        type: string
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            name:
              type: string
            message:
              type: string
    Workspace:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        owner:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid Bearer token or session cookie.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token created in the Windmill UI under account settings, passed as Authorization: Bearer YOUR_TOKEN.'
    cookieAuth:
      type: apiKey
      in: cookie
      name: token
      description: Session cookie set by the Windmill web UI after login.
